In [4]:
import pandas as pd

df = pd.read_csv("/Users/michaelwalker/Downloads/CAGDP2/CAGDP2__ALL_AREAS_2001_2023.csv", low_memory=False, encoding='latin1')

In [52]:
df.head(10)

,GeoFIPS,GeoName,Region,TableName,LineCode,IndustryClassification,Description,Unit,2001,2002,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,"""00000""",United States *,,CAGDP2,1.0,...,All industry total,Thousands of dollars,10581929000,10929108000,...,17608138000,18295019000,18804913000,19612102000,20656516000,21539982000,21354105000,23681171000,26006893000,27720709000
1,"""00000""",United States *,,CAGDP2,2.0,...,Private industries,Thousands of dollars,9188994000,9454709000,...,15332504000,15951002000,16413054000,17156255000,18097765000,18909779000,18641682000,20871211000,23068322000,24615614000
2,"""00000""",United States *,,CAGDP2,3.0,11,"Agriculture, forestry, fishing and hunting",Thousands of dollars,100765000,96667000,...,200581000,182147000,167492000,176840000,177117000,164214000,162895000,228621000,289998000,274178000
3,"""00000""",United States *,,CAGDP2,6.0,21,"Mining, quarrying, and oil and gas extraction",Thousands of dollars,123885000,112384000,...,418110000,262252000,211804000,267302000,313494000,294021000,201867000,331899000,460560000,411753000
4,"""00000""",United States *,,CAGDP2,10.0,22,Utilities,Thousands of dollars,181276000,177568000,...,299279000,300480000,303424000,313711000,320369000,331596000,345743000,390770000,443617000,446515000
5,"""00000""",United States *,,CAGDP2,11.0,23,Construction,Thousands of dollars,486397000,493530000,...,649944000,715343000,776814000,840220000,889075000,952959000,957780000,1011678000,1114317000,1220566000
6,"""00000""",United States *,,CAGDP2,12.0,31-33,Manufacturing,Thousands of dollars,1473543000,1468331000,...,2009691000,2071136000,2035231000,2109718000,2261819000,2268790000,2149533000,2408764000,2684488000,2840447000
7,"""00000""",United States *,,CAGDP2,13.0,"321,327-339",Durable goods manufacturing,Thousands of dollars,833259000,832761000,...,1106137000,1144468000,1139867000,1178271000,1232533000,1262549000,1200234000,1283511000,1399708000,1511940000
8,"""00000""",United States *,,CAGDP2,25.0,"311-316,322-326",Nondurable goods manufacturing,Thousands of dollars,640283000,635570000,...,903553000,926668000,895364000,931447000,1029286000,1006241000,949299000,1125253000,1284781000,1328506000
9,"""00000""",United States *,,CAGDP2,34.0,42,Wholesale trade,Thousands of dollars,612734000,612361000,...,1092147000,1148622000,1142862000,1176146000,1222120000,1296792000,1301750000,1415085000,1595534000,1653014000

In [53]:
#replaced by "cols" code on next line" df_tidy = df[["GeoFIPS", "Region", "IndustryClassification", "Description", "2022"]]

In [5]:
cols = ["GeoFIPS", "LineCode", "IndustryClassification", "Description", "2022", "2021","2020"]
df_tidy = df.loc[:, cols].copy()

In [6]:
df_tidy = df_tidy.rename(columns={"GeoFIPS":"state_county_fips_cd","LineCode":"line_cd", "IndustryClassification":"naics_sector_cd", "Description":"naics_sector_desc", "2022":"2022_gdp_num", "2021":"2021_gdp_num", "2020":"2020_gdp_num"})

In [7]:
df_tidy['state_county_fips_cd'] = df_tidy['state_county_fips_cd'].str.replace('"', '')

In [8]:
df_tidy['state_county_fips_cd'] = df_tidy['state_county_fips_cd'].str.replace(' ', '')

In [9]:
df_tidy = df_tidy[df_tidy["state_county_fips_cd"].str.len() == 5].copy()

In [10]:
mask = df_tidy["state_county_fips_cd"] != "00000"

In [11]:
df_tidy2 = df_tidy[mask]

In [12]:
df_tidy2

,state_county_fips_cd,line_cd,naics_sector_cd,naics_sector_desc,2022_gdp_num,2021_gdp_num,2020_gdp_num
34,01000,1.0,...,All industry total,284949136,260018429,235325321
35,01000,2.0,...,Private industries,241149331,218867147,195627224
36,01000,3.0,11,"Agriculture, forestry, fishing and hunting",4151661,2843412,1606493
37,01000,6.0,21,"Mining, quarrying, and oil and gas extraction",2911356,1927334,1529736
38,01000,10.0,22,Utilities,8534006,7462915,6611983
...,...,...,...,...,...,...,...
108047,98000,88.0,"42,44-45",Trade,616812753,566783123,505331877
108048,98000,89.0,"22,48-49",Transportation and utilities,252345399,217604445,179047362
108049,98000,90.0,"31-33,51",Manufacturing and information,1025534675,969477207,859125310
108050,98000,91.0,...,Private goods-producing industries 2/,822724787,755782325,678929526
108051,98000,92.0,...,Private services-providing industries 3/,3720218805,3447853184,3065577848

In [13]:
mask2 = ((df_tidy2["2022_gdp_num"] != '(D)') & (df_tidy2["2022_gdp_num"] != '(NA)')) | ((df_tidy2["2021_gdp_num"] != '(D)') & (df_tidy2["2021_gdp_num"] != '(NA)')) | ((df_tidy2["2020_gdp_num"] != '(D)') & (df_tidy2["2020_gdp_num"] != '(NA)')) | (df_tidy2["2022_gdp_num"] == 'NaN')

In [14]:
df_tidy2 = df_tidy2[mask2]

In [15]:
df_tidy2["2022_gdp_num"] = pd.to_numeric(df_tidy2["2022_gdp_num"], errors="coerce") * 1000

/var/folders/yq/thx3vlf97yq5hz7fwld1dmk00000gn/T/ipykernel_2128/750958090.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_tidy2["2022_gdp_num"] = pd.to_numeric(df_tidy2["2022_gdp_num"], errors="coerce") * 1000

In [16]:
df_tidy2["2021_gdp_num"] = pd.to_numeric(df_tidy2["2021_gdp_num"], errors="coerce") * 1000

/var/folders/yq/thx3vlf97yq5hz7fwld1dmk00000gn/T/ipykernel_2128/4156324406.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_tidy2["2021_gdp_num"] = pd.to_numeric(df_tidy2["2021_gdp_num"], errors="coerce") * 1000

In [17]:
df_tidy2["2020_gdp_num"] = pd.to_numeric(df_tidy2["2020_gdp_num"], errors="coerce") * 1000

/var/folders/yq/thx3vlf97yq5hz7fwld1dmk00000gn/T/ipykernel_2128/4104863584.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_tidy2["2020_gdp_num"] = pd.to_numeric(df_tidy2["2020_gdp_num"], errors="coerce") * 1000

In [18]:
df_tidy2

,state_county_fips_cd,line_cd,naics_sector_cd,naics_sector_desc,2022_gdp_num,2021_gdp_num,2020_gdp_num
34,01000,1.0,...,All industry total,2.849491e+11,2.600184e+11,2.353253e+11
35,01000,2.0,...,Private industries,2.411493e+11,2.188671e+11,1.956272e+11
36,01000,3.0,11,"Agriculture, forestry, fishing and hunting",4.151661e+09,2.843412e+09,1.606493e+09
37,01000,6.0,21,"Mining, quarrying, and oil and gas extraction",2.911356e+09,1.927334e+09,1.529736e+09
38,01000,10.0,22,Utilities,8.534006e+09,7.462915e+09,6.611983e+09
...,...,...,...,...,...,...,...
108047,98000,88.0,"42,44-45",Trade,6.168128e+11,5.667831e+11,5.053319e+11
108048,98000,89.0,"22,48-49",Transportation and utilities,2.523454e+11,2.176044e+11,1.790474e+11
108049,98000,90.0,"31-33,51",Manufacturing and information,1.025535e+12,9.694772e+11,8.591253e+11
108050,98000,91.0,...,Private goods-producing industries 2/,8.227248e+11,7.557823e+11,6.789295e+11
108051,98000,92.0,...,Private services-providing industries 3/,3.720219e+12,3.447853e+12,3.065578e+12

In [19]:
# Replace 'df' with whatever your dataframe variable is called
col = '2022_gdp_num'   # or the actual column name containing GDP values

# Show a few examples of non-numeric entries
mask_non_numeric = ~df_tidy2[col].astype(str).str.match(r"^[0-9,.\-]+$", na=False)
#bad_rows = df_tidy2.loc[mask_non_numeric, [col, 'state_county_fips_cd', 'naics_sector_desc']]
bad_rows = df_tidy2.loc[mask_non_numeric]

print(f"Non-numeric entries in column {col}: {bad_rows.shape[0]}")
print(bad_rows.head(20))  # show a few examples

# Count unique non-numeric values to see what they are
print("Unique non-numeric tokens:", df_tidy2.loc[mask_non_numeric, col].unique())

Non-numeric entries in column 2022_gdp_num: 6741
    state_county_fips_cd  line_cd naics_sector_cd  \
148                01005     45.0              51
162                01005     82.0              81
167                01005     90.0        31-33,51
217                01009     50.0           52,53
219                01009     56.0              53
244                01011     12.0           31-33
245                01011     13.0     321,327-339
387                01019     50.0           52,53
389                01019     56.0              53
429                01021     69.0              61
430                01021     70.0              62
513                01027      6.0              21
515                01027     11.0              23
521                01027     36.0           48-49
528                01027     64.0              55
529                01027     65.0              56
538                01027     87.0           11,21
540                01027     89.0        22,48-49
548                01029     10.0              22
553                01029     34.0              42

                                     naics_sector_desc  2022_gdp_num  \
148                                       Information            NaN
162    Other services (except government and govern...           NaN
167                     Manufacturing and information            NaN
217    Finance, insurance, real estate, rental, and...           NaN
219                Real estate and rental and leasing            NaN
244                                     Manufacturing            NaN
245                       Durable goods manufacturing            NaN
387    Finance, insurance, real estate, rental, and...           NaN
389                Real estate and rental and leasing            NaN
429                              Educational services            NaN
430                 Health care and social assistance            NaN
513     Mining, quarrying, and oil and gas extraction            NaN
515                                      Construction            NaN
521                    Transportation and warehousing            NaN
528           Management of companies and enterprises            NaN
529     Administrative and support and waste manage...           NaN
538                      Natural resources and mining            NaN
540                      Transportation and utilities            NaN
548                                         Utilities            NaN
553                                   Wholesale trade            NaN

     2021_gdp_num  2020_gdp_num
148     5845000.0     5807000.0
162    22124000.0    20998000.0
167   224276000.0   217522000.0
217   283065000.0   244724000.0
219   233701000.0   206166000.0
244    72763000.0    61313000.0
245     1097000.0      866000.0
387   164051000.0   146073000.0
389   142357000.0   128474000.0
429      264000.0      182000.0
430    73745000.0    72001000.0
513           0.0           0.0
515    11595000.0    10865000.0
521     5122000.0     5456000.0
528           0.0           0.0
529     1820000.0     2099000.0
538    29307000.0     7463000.0
540    10375000.0    10836000.0
548     1373000.0     1505000.0
553           NaN     3182000.0
Unique non-numeric tokens: [nan]

In [71]:
df_tidy2.to_csv("/Users/michaelwalker/RDM_Datalab/bea_cagdp2_county_linecode_2022_V2.csv", index=None)

In [21]:
print(bad_rows.iloc[148])

state_county_fips_cd                                                02066
line_cd                                                              50.0
naics_sector_cd                                                     52,53
naics_sector_desc         Finance, insurance, real estate, rental, and...
2022_gdp_num                                                          NaN
2021_gdp_num                                                   26568000.0
2020_gdp_num                                                   21483000.0
Name: 2597, dtype: object

In [29]:
bad_rows.groupby("state_county_fips_cd").sum()

,line_cd,naics_sector_cd,naics_sector_desc,2022_gdp_num,2021_gdp_num,2020_gdp_num
state_county_fips_cd,,,,,,
01005,217.0,"518131-33,51",Information Other services (except governm...,0.0,252245000.0,244327000.0
01009,106.0,"52,5353","Finance, insurance, real estate, rental, and...",0.0,516766000.0,450890000.0
01011,25.0,"31-33321,327-339",Manufacturing Durable goods manufacturing,0.0,73860000.0,62179000.0
01019,106.0,"52,5353","Finance, insurance, real estate, rental, and...",0.0,306408000.0,274547000.0
01021,139.0,6162,Educational services Health care and soc...,0.0,74009000.0,72183000.0
...,...,...,...,...,...,...
56031,465.0,"2131-33311-316,322-32652,5353616211,2131-33,51","Mining, quarrying, and oil and gas extractio...",0.0,312684000.0,270129000.0
56037,243.0,"52,535361,6261","Finance, insurance, real estate, rental, and...",0.0,593702000.0,608609000.0
56039,6.0,21,"Mining, quarrying, and oil and gas extraction",0.0,0.0,2478000.0
56043,165.0,"52,535354,55,56","Finance, insurance, real estate, rental, and...",0.0,129954000.0,141682000.0
56045,263.0,"54,55,56555671,72",Professional and business services Manage...,0.0,16841000.0,13686000.0

In [25]:
bad_rows.iloc[148].to_csv("/Users/michaelwalker/RDM_Datalab/bea_cagdp2_county_linecode_badrow.csv", index=None)