In [26]:
import pandas as pd

df = pd.read_csv("/Users/michaelwalker/Downloads/CAGDP2/CAGDP2__ALL_AREAS_2001_2023.csv", low_memory=False, encoding='latin1')

In [27]:
df.head(10)

,GeoFIPS,GeoName,Region,TableName,LineCode,IndustryClassification,Description,Unit,2001,2002,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,"""00000""",United States *,,CAGDP2,1.0,...,All industry total,Thousands of dollars,10581929000,10929108000,...,17608138000,18295019000,18804913000,19612102000,20656516000,21539982000,21354105000,23681171000,26006893000,27720709000
1,"""00000""",United States *,,CAGDP2,2.0,...,Private industries,Thousands of dollars,9188994000,9454709000,...,15332504000,15951002000,16413054000,17156255000,18097765000,18909779000,18641682000,20871211000,23068322000,24615614000
2,"""00000""",United States *,,CAGDP2,3.0,11,"Agriculture, forestry, fishing and hunting",Thousands of dollars,100765000,96667000,...,200581000,182147000,167492000,176840000,177117000,164214000,162895000,228621000,289998000,274178000
3,"""00000""",United States *,,CAGDP2,6.0,21,"Mining, quarrying, and oil and gas extraction",Thousands of dollars,123885000,112384000,...,418110000,262252000,211804000,267302000,313494000,294021000,201867000,331899000,460560000,411753000
4,"""00000""",United States *,,CAGDP2,10.0,22,Utilities,Thousands of dollars,181276000,177568000,...,299279000,300480000,303424000,313711000,320369000,331596000,345743000,390770000,443617000,446515000
5,"""00000""",United States *,,CAGDP2,11.0,23,Construction,Thousands of dollars,486397000,493530000,...,649944000,715343000,776814000,840220000,889075000,952959000,957780000,1011678000,1114317000,1220566000
6,"""00000""",United States *,,CAGDP2,12.0,31-33,Manufacturing,Thousands of dollars,1473543000,1468331000,...,2009691000,2071136000,2035231000,2109718000,2261819000,2268790000,2149533000,2408764000,2684488000,2840447000
7,"""00000""",United States *,,CAGDP2,13.0,"321,327-339",Durable goods manufacturing,Thousands of dollars,833259000,832761000,...,1106137000,1144468000,1139867000,1178271000,1232533000,1262549000,1200234000,1283511000,1399708000,1511940000
8,"""00000""",United States *,,CAGDP2,25.0,"311-316,322-326",Nondurable goods manufacturing,Thousands of dollars,640283000,635570000,...,903553000,926668000,895364000,931447000,1029286000,1006241000,949299000,1125253000,1284781000,1328506000
9,"""00000""",United States *,,CAGDP2,34.0,42,Wholesale trade,Thousands of dollars,612734000,612361000,...,1092147000,1148622000,1142862000,1176146000,1222120000,1296792000,1301750000,1415085000,1595534000,1653014000

In [53]:
#replaced by "cols" code on next line" df_tidy = df[["GeoFIPS", "Region", "IndustryClassification", "Description", "2022"]]

In [28]:
cols = ["GeoFIPS", "LineCode", "IndustryClassification", "Description", "2022"]
df_tidy = df.loc[:, cols].copy()

In [29]:
df_tidy = df_tidy.rename(columns={"GeoFIPS":"state_cnty_fips_cd","LineCode":"line_cd", "IndustryClassification":"naics2_sector_cd", "Description":"naics2_sector_desc", "2022":"gdp_num"})

In [30]:
df_tidy['state_cnty_fips_cd'] = df_tidy['state_cnty_fips_cd'].str.replace('"', '').str.replace(' ', '')

In [31]:
df_tidy['year_num'] = "2022"

In [32]:
df_tidy = df_tidy[df_tidy["state_cnty_fips_cd"].str.len() == 5].copy()

In [33]:
df_tidy = df_tidy[["year_num","naics2_sector_cd","state_cnty_fips_cd","line_cd","naics2_sector_desc","gdp_num"]]

In [34]:
mask = df_tidy["state_cnty_fips_cd"] != "00000"

In [89]:
df_tidy2 = df_tidy[mask]

In [90]:
df_tidy2

,year_num,naics2_sector_cd,state_cnty_fips_cd,line_cd,naics2_sector_desc,gdp_num
34,2022,...,01000,1.0,All industry total,284949136
35,2022,...,01000,2.0,Private industries,241149331
36,2022,11,01000,3.0,"Agriculture, forestry, fishing and hunting",4151661
37,2022,21,01000,6.0,"Mining, quarrying, and oil and gas extraction",2911356
38,2022,22,01000,10.0,Utilities,8534006
...,...,...,...,...,...,...
108047,2022,"42,44-45",98000,88.0,Trade,616812753
108048,2022,"22,48-49",98000,89.0,Transportation and utilities,252345399
108049,2022,"31-33,51",98000,90.0,Manufacturing and information,1025534675
108050,2022,...,98000,91.0,Private goods-producing industries 2/,822724787
108051,2022,...,98000,92.0,Private services-providing industries 3/,3720218805

In [91]:
df_tidy2 = df_tidy2.copy()
df_tidy2["gdp_num"] = (
    pd.to_numeric(df_tidy2["gdp_num"], errors="coerce")
      .mul(1000)
)
df_tidy2 = df_tidy2.dropna(subset=["gdp_num"]).copy()

In [92]:
df_tidy2

,year_num,naics2_sector_cd,state_cnty_fips_cd,line_cd,naics2_sector_desc,gdp_num
34,2022,...,01000,1.0,All industry total,2.849491e+11
35,2022,...,01000,2.0,Private industries,2.411493e+11
36,2022,11,01000,3.0,"Agriculture, forestry, fishing and hunting",4.151661e+09
37,2022,21,01000,6.0,"Mining, quarrying, and oil and gas extraction",2.911356e+09
38,2022,22,01000,10.0,Utilities,8.534006e+09
...,...,...,...,...,...,...
108047,2022,"42,44-45",98000,88.0,Trade,6.168128e+11
108048,2022,"22,48-49",98000,89.0,Transportation and utilities,2.523454e+11
108049,2022,"31-33,51",98000,90.0,Manufacturing and information,1.025535e+12
108050,2022,...,98000,91.0,Private goods-producing industries 2/,8.227248e+11
108051,2022,...,98000,92.0,Private services-providing industries 3/,3.720219e+12

In [93]:
# Replace 'df' with whatever your dataframe variable is called
col = 'gdp_num'   # or the actual column name containing GDP values

# Show a few examples of non-numeric entries
mask_non_numeric = ~df_tidy2[col].astype(str).str.match(r"^[0-9,.\-]+$", na=False)
#bad_rows = df_tidy2.loc[mask_non_numeric, [col, 'state_county_fips_cd', 'naics_sector_desc']]
bad_rows = df_tidy2.loc[mask_non_numeric]

print(f"Non-numeric entries in column {col}: {bad_rows.shape[0]}")
print(bad_rows.head(20))  # show a few examples

# Count unique non-numeric values to see what they are
print("Unique non-numeric tokens:", df_tidy2.loc[mask_non_numeric, col].unique())

Non-numeric entries in column gdp_num: 0
Empty DataFrame
Columns: [year_num, naics2_sector_cd, state_cnty_fips_cd, line_cd, naics2_sector_desc, gdp_num]
Index: []
Unique non-numeric tokens: []

In [94]:
df_tidy2.to_csv("/Users/michaelwalker/RDM_Datalab/rdm-datalab-pipelines/data_clean/bea/gdp_bea.csv", index=None)

In [59]:
print(bad_rows.iloc[148])

IndexError: single positional indexer is out-of-bounds

In [29]:
bad_rows.groupby("state_county_fips_cd").sum()

,line_cd,naics_sector_cd,naics_sector_desc,2022_gdp_num,2021_gdp_num,2020_gdp_num
state_county_fips_cd,,,,,,
01005,217.0,"518131-33,51",Information Other services (except governm...,0.0,252245000.0,244327000.0
01009,106.0,"52,5353","Finance, insurance, real estate, rental, and...",0.0,516766000.0,450890000.0
01011,25.0,"31-33321,327-339",Manufacturing Durable goods manufacturing,0.0,73860000.0,62179000.0
01019,106.0,"52,5353","Finance, insurance, real estate, rental, and...",0.0,306408000.0,274547000.0
01021,139.0,6162,Educational services Health care and soc...,0.0,74009000.0,72183000.0
...,...,...,...,...,...,...
56031,465.0,"2131-33311-316,322-32652,5353616211,2131-33,51","Mining, quarrying, and oil and gas extractio...",0.0,312684000.0,270129000.0
56037,243.0,"52,535361,6261","Finance, insurance, real estate, rental, and...",0.0,593702000.0,608609000.0
56039,6.0,21,"Mining, quarrying, and oil and gas extraction",0.0,0.0,2478000.0
56043,165.0,"52,535354,55,56","Finance, insurance, real estate, rental, and...",0.0,129954000.0,141682000.0
56045,263.0,"54,55,56555671,72",Professional and business services Manage...,0.0,16841000.0,13686000.0

In [25]:
bad_rows.iloc[148].to_csv("/Users/michaelwalker/RDM_Datalab/bea_cagdp2_county_linecode_badrow.csv", index=None)