In [1]:
import pandas as pd

In [5]:
df = pd.read_csv("/Users/michaelwalker/Downloads/CAGDP2/CAGDP2__ALL_AREAS_2001_2023.csv", low_memory=False, encoding='latin1')

In [6]:
df

,GeoFIPS,GeoName,Region,TableName,LineCode,IndustryClassification,Description,Unit,2001,2002,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,"""00000""",United States *,,CAGDP2,1.0,...,All industry total,Thousands of dollars,10581929000,10929108000,...,17608138000,18295019000,18804913000,19612102000,20656516000,21539982000,21354105000,23681171000,26006893000,27720709000
1,"""00000""",United States *,,CAGDP2,2.0,...,Private industries,Thousands of dollars,9188994000,9454709000,...,15332504000,15951002000,16413054000,17156255000,18097765000,18909779000,18641682000,20871211000,23068322000,24615614000
2,"""00000""",United States *,,CAGDP2,3.0,11,"Agriculture, forestry, fishing and hunting",Thousands of dollars,100765000,96667000,...,200581000,182147000,167492000,176840000,177117000,164214000,162895000,228621000,289998000,274178000
3,"""00000""",United States *,,CAGDP2,6.0,21,"Mining, quarrying, and oil and gas extraction",Thousands of dollars,123885000,112384000,...,418110000,262252000,211804000,267302000,313494000,294021000,201867000,331899000,460560000,411753000
4,"""00000""",United States *,,CAGDP2,10.0,22,Utilities,Thousands of dollars,181276000,177568000,...,299279000,300480000,303424000,313711000,320369000,331596000,345743000,390770000,443617000,446515000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
108051,"""98000""",Far West,8,CAGDP2,92.0,...,Private services-providing industries 3/,Thousands of dollars,1273013563,1335263628,...,2261102864,2417327962,2534089266,2693166303,2853206767,3048307660,3065577848,3447853184,3720218805,3974293404
108052,Note: See the included footnote file.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
108053,CAGDP2: Gross domestic product (GDP) by county...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
108054,"Last updated: December 4, 2024-- new statistic...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
108055,U.S. Bureau of Economic Analysis,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
cols = ["GeoFIPS","GeoName", "TableName", "LineCode", "Region", "IndustryClassification", "Description", "Unit", "2022"]
df_tidy = df.loc[:, cols].copy()

In [8]:
df_tidy

,GeoFIPS,GeoName,TableName,LineCode,Region,IndustryClassification,Description,Unit,2022
0,"""00000""",United States *,CAGDP2,1.0,,...,All industry total,Thousands of dollars,26006893000
1,"""00000""",United States *,CAGDP2,2.0,,...,Private industries,Thousands of dollars,23068322000
2,"""00000""",United States *,CAGDP2,3.0,,11,"Agriculture, forestry, fishing and hunting",Thousands of dollars,289998000
3,"""00000""",United States *,CAGDP2,6.0,,21,"Mining, quarrying, and oil and gas extraction",Thousands of dollars,460560000
4,"""00000""",United States *,CAGDP2,10.0,,22,Utilities,Thousands of dollars,443617000
...,...,...,...,...,...,...,...,...,...
108051,"""98000""",Far West,CAGDP2,92.0,8,...,Private services-providing industries 3/,Thousands of dollars,3720218805
108052,Note: See the included footnote file.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
108053,CAGDP2: Gross domestic product (GDP) by county...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
108054,"Last updated: December 4, 2024-- new statistic...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
108055,U.S. Bureau of Economic Analysis,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
mask_geozero = df["GeoFIPS"].str.replace('"', '').str.replace(' ', '') == "00000"

In [20]:
df_geozero = df[mask_geozero]

In [21]:
len(df_geozero)

34

In [23]:
df_geozero

,GeoFIPS,GeoName,Region,TableName,LineCode,IndustryClassification,Description,Unit,2001,2002,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
0,"""00000""",United States *,,CAGDP2,1.0,...,All industry total,Thousands of dollars,10581929000,10929108000,...,17608138000,18295019000,18804913000,19612102000,20656516000,21539982000,21354105000,23681171000,26006893000,27720709000
1,"""00000""",United States *,,CAGDP2,2.0,...,Private industries,Thousands of dollars,9188994000,9454709000,...,15332504000,15951002000,16413054000,17156255000,18097765000,18909779000,18641682000,20871211000,23068322000,24615614000
2,"""00000""",United States *,,CAGDP2,3.0,11,"Agriculture, forestry, fishing and hunting",Thousands of dollars,100765000,96667000,...,200581000,182147000,167492000,176840000,177117000,164214000,162895000,228621000,289998000,274178000
3,"""00000""",United States *,,CAGDP2,6.0,21,"Mining, quarrying, and oil and gas extraction",Thousands of dollars,123885000,112384000,...,418110000,262252000,211804000,267302000,313494000,294021000,201867000,331899000,460560000,411753000
4,"""00000""",United States *,,CAGDP2,10.0,22,Utilities,Thousands of dollars,181276000,177568000,...,299279000,300480000,303424000,313711000,320369000,331596000,345743000,390770000,443617000,446515000
5,"""00000""",United States *,,CAGDP2,11.0,23,Construction,Thousands of dollars,486397000,493530000,...,649944000,715343000,776814000,840220000,889075000,952959000,957780000,1011678000,1114317000,1220566000
6,"""00000""",United States *,,CAGDP2,12.0,31-33,Manufacturing,Thousands of dollars,1473543000,1468331000,...,2009691000,2071136000,2035231000,2109718000,2261819000,2268790000,2149533000,2408764000,2684488000,2840447000
7,"""00000""",United States *,,CAGDP2,13.0,"321,327-339",Durable goods manufacturing,Thousands of dollars,833259000,832761000,...,1106137000,1144468000,1139867000,1178271000,1232533000,1262549000,1200234000,1283511000,1399708000,1511940000
8,"""00000""",United States *,,CAGDP2,25.0,"311-316,322-326",Nondurable goods manufacturing,Thousands of dollars,640283000,635570000,...,903553000,926668000,895364000,931447000,1029286000,1006241000,949299000,1125253000,1284781000,1328506000
9,"""00000""",United States *,,CAGDP2,34.0,42,Wholesale trade,Thousands of dollars,612734000,612361000,...,1092147000,1148622000,1142862000,1176146000,1222120000,1296792000,1301750000,1415085000,1595534000,1653014000
10,"""00000""",United States *,,CAGDP2,35.0,44-45,Retail trade,Thousands of dollars,709402000,732584000,...,1018248000,1081163000,1133246000,1178923000,1223550000,1277572000,1333072000,1535159000,1628872000,1772380000
11,"""00000""",United States *,,CAGDP2,36.0,48-49,Transportation and warehousing,Thousands of dollars,308009000,305647000,...,533558000,583948000,602958000,635464000,677267000,709954000,638712000,775442000,916289000,943734000
12,"""00000""",United States *,,CAGDP2,45.0,51,Information,Thousands of dollars,502265000,550529000,...,848812000,913134000,974870000,1010020000,1041450000,1142631000,1181294000,1310379000,1367468000,1477938000
13,"""00000""",United States *,,CAGDP2,50.0,"52,53","Finance, insurance, real estate, rental, and...",Thousands of dollars,2129366000,2209984000,...,3569914000,3728623000,3894718000,4033029000,4258243000,4458146000,4628809000,5003622000,5417497000,5811618000
14,"""00000""",United States *,,CAGDP2,51.0,52,Finance and insurance,Thousands of dollars,800318000,809062000,...,1295691000,1390579000,1474856000,1508011000,1574818000,1652272000,1718225000,1858971000,1935627000,2015595000
15,"""00000""",United States *,,CAGDP2,56.0,53,Real estate and rental and leasing,Thousands of dollars,1329048000,1400922000,...,2274223000,2338044000,2419862000,2525018000,2683425000,2805874000,2910584000,3144652000,3481870000,3796022000
16,"""00000""",United States *,,CAGDP2,59.0,"54,55,56",Professional and business services,Thousands of dollars,1155329000,1189787000,...,2120062000,2236966000,2304957000,2433642000,2589056000,2728871000,2726142000,3064152000,3381027000,3611702000
17,"""00000""",United States *,,CAGDP2,60.0,54,"Professional, scientific, and technical ser...",Thousands of dollars,686666000,714677000,...,1269548000,1349693000,1396530000,1460642000,1562063000,1653122000,1673344000,1882367000,2060694000,2221972000
18,"""00000""",United States *,,CAGDP2,64.0,55,Management of companies and enterprises,Thousands of dollars,173620000,174958000,...,332187000,346973000,349246000,370134000,388334000,405582000,403881000,442061000,482633000,503129000
19,"""00000""",United States *,,CAGDP2,65.0,56,Administrative and support and waste manage...,Thousands of dollars,295044000,300152000,...,518328000,540300000,559181000,602866000,638658000,670167000,648917000,739725000,837700000,886601000
20,"""00000""",United States *,,CAGDP2,68.0,"61,62","Educational services, health care, and socia...",Thousands of dollars,749823000,806976000,...,1494986000,1574917000,1656968000,1716922000,1791956000,1884211000,1870033000,2004169000,2151447000,2350905000
21,"""00000""",United States *,,CAGDP2,69.0,61,Educational services,Thousands of dollars,101695000,106481000,...,224817000,231349000,243217000,245588000,257222000,270279000,255452000,269951000,292047000,312038000
22,"""00000""",United States *,,CAGDP2,70.0,62,Health care and social assistance,Thousands of dollars,648128000,700496000,...,1270169000,1343568000,1413751000,1471334000,1534734000,1613933000,1614581000,1734219000,1859400000,2038867000
23,"""00000""",United States *,,CAGDP2,75.0,"71,72","Arts, entertainment, recreation, accommodati...",Thousands of dollars,390670000,413491000,...,692467000,748821000,791826000,831153000,874596000,922158000,693410000,906706000,1067876000,1211474000
24,"""00000""",United States *,,CAGDP2,76.0,71,"Arts, entertainment, and recreation",Thousands of dollars,96712000,103777000,...,187919000,191356000,203949000,213755000,227230000,237115000,170850000,214244000,264213000,299724000
25,"""00000""",United States *,,CAGDP2,79.0,72,Accommodation and food services,Thousands of dollars,293959000,309714000,...,504548000,557465000,587877000,617398000,647366000,685043000,522560000,692462000,803663000,911750000
26,"""00000""",United States *,,CAGDP2,82.0,81,Other services (except government and govern...,Thousands of dollars,265531000,284871000,...,384706000,403450000,415886000,433165000,457654000,477864000,450642000,484765000,549331000,589391000
27,"""00000""",United States *,,CAGDP2,83.0,92,Government and government enterprises,Thousands of dollars,1392934000,1474399000,...,2275636000,2344018000,2391859000,2455848000,2558752000,2630201000,2712423000,2809959000,2938568000,3105093000
28,"""00000""",United States *,,CAGDP2,87.0,"11,21",Natural resources and mining,Thousands of dollars,224649000,209051000,...,618691000,444399000,379296000,444143000,490610000,458235000,364762000,560519000,750558000,685931000
29,"""00000""",United States *,,CAGDP2,88.0,"42,44-45",Trade,Thousands of dollars,1322136000,1344944000,...,2110395000,2229785000,2276107000,2355069000,2445670000,2574364000,2634822000,2950245000,3224406000,3425394000
30,"""00000""",United States *,,CAGDP2,89.0,"22,48-49",Transportation and utilities,Thousands of dollars,489285000,483215000,...,832837000,884428000,906382000,949174000,997635000,1041551000,984454000,1166212000,1359906000,1390249000
31,"""00000""",United States *,,CAGDP2,90.0,"31-33,51",Manufacturing and information,Thousands of dollars,1975808000,2018860000,...,2858502000,2984270000,3010101000,3119738000,3303269000,3411420000,3330826000,3719144000,4051957000,4318385000
32,"""00000""",United States *,,CAGDP2,91.0,...,Private goods-producing industries 2/,Thousands of dollars,2184589000,2170912000,...,3278325000,3230878000,3191340000,3394081000,3641504000,3679984000,3472075000,3980962000,4549364000,4746944000
33,"""00000""",United States *,,CAGDP2,92.0,...,Private services-providing industries 3/,Thousands of dollars,7004406000,7283797000,...,12054178000,12720123000,13221714000,13762173000,14456260000,15229796000,15169607000,16890250000,18518959000,19868671000

In [27]:
cols = [ "LineCode", "IndustryClassification", "Description", "Unit", "2022"]
df_industry_ref = df_geozero.loc[:, cols].copy()

In [28]:
df_industry_ref

,LineCode,IndustryClassification,Description,Unit,2022
0,1.0,...,All industry total,Thousands of dollars,26006893000
1,2.0,...,Private industries,Thousands of dollars,23068322000
2,3.0,11,"Agriculture, forestry, fishing and hunting",Thousands of dollars,289998000
3,6.0,21,"Mining, quarrying, and oil and gas extraction",Thousands of dollars,460560000
4,10.0,22,Utilities,Thousands of dollars,443617000
5,11.0,23,Construction,Thousands of dollars,1114317000
6,12.0,31-33,Manufacturing,Thousands of dollars,2684488000
7,13.0,"321,327-339",Durable goods manufacturing,Thousands of dollars,1399708000
8,25.0,"311-316,322-326",Nondurable goods manufacturing,Thousands of dollars,1284781000
9,34.0,42,Wholesale trade,Thousands of dollars,1595534000
10,35.0,44-45,Retail trade,Thousands of dollars,1628872000
11,36.0,48-49,Transportation and warehousing,Thousands of dollars,916289000
12,45.0,51,Information,Thousands of dollars,1367468000
13,50.0,"52,53","Finance, insurance, real estate, rental, and...",Thousands of dollars,5417497000
14,51.0,52,Finance and insurance,Thousands of dollars,1935627000
15,56.0,53,Real estate and rental and leasing,Thousands of dollars,3481870000
16,59.0,"54,55,56",Professional and business services,Thousands of dollars,3381027000
17,60.0,54,"Professional, scientific, and technical ser...",Thousands of dollars,2060694000
18,64.0,55,Management of companies and enterprises,Thousands of dollars,482633000
19,65.0,56,Administrative and support and waste manage...,Thousands of dollars,837700000
20,68.0,"61,62","Educational services, health care, and socia...",Thousands of dollars,2151447000
21,69.0,61,Educational services,Thousands of dollars,292047000
22,70.0,62,Health care and social assistance,Thousands of dollars,1859400000
23,75.0,"71,72","Arts, entertainment, recreation, accommodati...",Thousands of dollars,1067876000
24,76.0,71,"Arts, entertainment, and recreation",Thousands of dollars,264213000
25,79.0,72,Accommodation and food services,Thousands of dollars,803663000
26,82.0,81,Other services (except government and govern...,Thousands of dollars,549331000
27,83.0,92,Government and government enterprises,Thousands of dollars,2938568000
28,87.0,"11,21",Natural resources and mining,Thousands of dollars,750558000
29,88.0,"42,44-45",Trade,Thousands of dollars,3224406000
30,89.0,"22,48-49",Transportation and utilities,Thousands of dollars,1359906000
31,90.0,"31-33,51",Manufacturing and information,Thousands of dollars,4051957000
32,91.0,...,Private goods-producing industries 2/,Thousands of dollars,4549364000
33,92.0,...,Private services-providing industries 3/,Thousands of dollars,18518959000

In [29]:
df_industry_ref.to_csv("/Users/michaelwalker/RDM_Datalab/xref_bea_industry_naics.csv", index=None)

In [31]:
!ls *bea*

bea_cagdp2_county_linecode_2022.csv xref_bea_industry_naics.csv

In [40]:
df_bea = pd.read_csv("/Users/michaelwalker/RDM_Datalab/bea_cagdp2_county_linecode_2022.csv", low_memory=False, encoding='latin1')

SyntaxError: invalid syntax (228183106.py, line 1)

In [41]:
df_bea

,county_fips,region,naics_sector,naics_description,2022_gdp_num,LineCode,IndustryClassification,Description,Unit,2022
0,1000,5,...,All industry total,284949136000,1.0,...,All industry total,Thousands of dollars,26006893000
1,1000,5,...,All industry total,284949136000,2.0,...,Private industries,Thousands of dollars,23068322000
2,1000,5,...,All industry total,284949136000,91.0,...,Private goods-producing industries 2/,Thousands of dollars,4549364000
3,1000,5,...,All industry total,284949136000,92.0,...,Private services-providing industries 3/,Thousands of dollars,18518959000
4,1000,5,...,Private industries,241149331000,1.0,...,All industry total,Thousands of dollars,26006893000
...,...,...,...,...,...,...,...,...,...,...
126346,98000,8,...,Private goods-producing industries 2/,822724787000,92.0,...,Private services-providing industries 3/,Thousands of dollars,18518959000
126347,98000,8,...,Private services-providing industries 3/,3720218805000,1.0,...,All industry total,Thousands of dollars,26006893000
126348,98000,8,...,Private services-providing industries 3/,3720218805000,2.0,...,Private industries,Thousands of dollars,23068322000
126349,98000,8,...,Private services-providing industries 3/,3720218805000,91.0,...,Private goods-producing industries 2/,Thousands of dollars,4549364000
126350,98000,8,...,Private services-providing industries 3/,3720218805000,92.0,...,Private services-providing industries 3/,Thousands of dollars,18518959000

In [44]:
df_bea = df_bea.merge(df_industry_ref, how='left', left_on=['naics_sector', 'LineCode'], right_on=['IndustryClassification', 'LineCode'])

In [45]:
df_bea

,county_fips,region,naics_sector,naics_description,2022_gdp_num,LineCode,IndustryClassification_x,Description_x,Unit_x,2022_x,IndustryClassification_y,Description_y,Unit_y,2022_y
0,1000,5,...,All industry total,284949136000,1.0,...,All industry total,Thousands of dollars,26006893000,...,All industry total,Thousands of dollars,26006893000
1,1000,5,...,All industry total,284949136000,2.0,...,Private industries,Thousands of dollars,23068322000,...,Private industries,Thousands of dollars,23068322000
2,1000,5,...,All industry total,284949136000,91.0,...,Private goods-producing industries 2/,Thousands of dollars,4549364000,...,Private goods-producing industries 2/,Thousands of dollars,4549364000
3,1000,5,...,All industry total,284949136000,92.0,...,Private services-providing industries 3/,Thousands of dollars,18518959000,...,Private services-providing industries 3/,Thousands of dollars,18518959000
4,1000,5,...,Private industries,241149331000,1.0,...,All industry total,Thousands of dollars,26006893000,...,All industry total,Thousands of dollars,26006893000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
126346,98000,8,...,Private goods-producing industries 2/,822724787000,92.0,...,Private services-providing industries 3/,Thousands of dollars,18518959000,...,Private services-providing industries 3/,Thousands of dollars,18518959000
126347,98000,8,...,Private services-providing industries 3/,3720218805000,1.0,...,All industry total,Thousands of dollars,26006893000,...,All industry total,Thousands of dollars,26006893000
126348,98000,8,...,Private services-providing industries 3/,3720218805000,2.0,...,Private industries,Thousands of dollars,23068322000,...,Private industries,Thousands of dollars,23068322000
126349,98000,8,...,Private services-providing industries 3/,3720218805000,91.0,...,Private goods-producing industries 2/,Thousands of dollars,4549364000,...,Private goods-producing industries 2/,Thousands of dollars,4549364000
126350,98000,8,...,Private services-providing industries 3/,3720218805000,92.0,...,Private services-providing industries 3/,Thousands of dollars,18518959000,...,Private services-providing industries 3/,Thousands of dollars,18518959000

In [51]:
mask_null_GDP = pd.isna(df_bea["2022_y"])

In [52]:
df_bea_null = df_bea[mask_null_GDP]

In [53]:
len(df_bea_null)

0

In [54]:
df_bea

,county_fips,region,naics_sector,naics_description,2022_gdp_num,LineCode,IndustryClassification_x,Description_x,Unit_x,2022_x,IndustryClassification_y,Description_y,Unit_y,2022_y
0,1000,5,...,All industry total,284949136000,1.0,...,All industry total,Thousands of dollars,26006893000,...,All industry total,Thousands of dollars,26006893000
1,1000,5,...,All industry total,284949136000,2.0,...,Private industries,Thousands of dollars,23068322000,...,Private industries,Thousands of dollars,23068322000
2,1000,5,...,All industry total,284949136000,91.0,...,Private goods-producing industries 2/,Thousands of dollars,4549364000,...,Private goods-producing industries 2/,Thousands of dollars,4549364000
3,1000,5,...,All industry total,284949136000,92.0,...,Private services-providing industries 3/,Thousands of dollars,18518959000,...,Private services-providing industries 3/,Thousands of dollars,18518959000
4,1000,5,...,Private industries,241149331000,1.0,...,All industry total,Thousands of dollars,26006893000,...,All industry total,Thousands of dollars,26006893000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
126346,98000,8,...,Private goods-producing industries 2/,822724787000,92.0,...,Private services-providing industries 3/,Thousands of dollars,18518959000,...,Private services-providing industries 3/,Thousands of dollars,18518959000
126347,98000,8,...,Private services-providing industries 3/,3720218805000,1.0,...,All industry total,Thousands of dollars,26006893000,...,All industry total,Thousands of dollars,26006893000
126348,98000,8,...,Private services-providing industries 3/,3720218805000,2.0,...,Private industries,Thousands of dollars,23068322000,...,Private industries,Thousands of dollars,23068322000
126349,98000,8,...,Private services-providing industries 3/,3720218805000,91.0,...,Private goods-producing industries 2/,Thousands of dollars,4549364000,...,Private goods-producing industries 2/,Thousands of dollars,4549364000
126350,98000,8,...,Private services-providing industries 3/,3720218805000,92.0,...,Private services-providing industries 3/,Thousands of dollars,18518959000,...,Private services-providing industries 3/,Thousands of dollars,18518959000

In [ ]:
len