In [1]:
import pandas as pd

In [5]:
pd.read_csv("/Users/michaelwalker/RDM_Datalab/simplemaps_uscounties_basicv1.91/uscounties.csv")

,county,county_ascii,county_full,county_fips,state_id,state_name,lat,lng,population
0,Los Angeles,Los Angeles,Los Angeles County,6037,CA,California,34.3219,-118.2247,9848406
1,Cook,Cook,Cook County,17031,IL,Illinois,41.8401,-87.8168,5185812
2,Harris,Harris,Harris County,48201,TX,Texas,29.8578,-95.3938,4758579
3,Maricopa,Maricopa,Maricopa County,4013,AZ,Arizona,33.3490,-112.4915,4491987
4,San Diego,San Diego,San Diego County,6073,CA,California,33.0343,-116.7350,3282782
...,...,...,...,...,...,...,...,...,...
3139,Blaine,Blaine,Blaine County,31009,NE,Nebraska,41.9128,-99.9767,385
3140,King,King,King County,48269,TX,Texas,33.6165,-100.2558,189
3141,Loving,Loving,Loving County,48301,TX,Texas,31.8493,-103.5800,54
3142,Kenedy,Kenedy,Kenedy County,48261,TX,Texas,26.9285,-97.7017,52
3143,Kalawao,Kalawao,Kalawao County,15005,HI,Hawaii,21.1709,-156.9475,43

In [15]:
df = pd.read_csv("/Users/michaelwalker/RDM_Datalab/simplemaps_uscounties_basicv1.91/uscounties.csv")

In [3]:
df["county_fips"]

0        6037
1       17031
2       48201
3        4013
4        6073
        ...
3139    31009
3140    48269
3141    48301
3142    48261
3143    15005
Name: county_fips, Length: 3144, dtype: int64

In [4]:
df["county_fips"].dtype

dtype('int64')

In [5]:
df["county_fips"].astype(str)

0        6037
1       17031
2       48201
3        4013
4        6073
        ...
3139    31009
3140    48269
3141    48301
3142    48261
3143    15005
Name: county_fips, Length: 3144, dtype: object

In [6]:
df["county_fips"].astype(str).str.zfill(6)

0       006037
1       017031
2       048201
3       004013
4       006073
         ...
3139    031009
3140    048269
3141    048301
3142    048261
3143    015005
Name: county_fips, Length: 3144, dtype: object

In [10]:
df1 = df["county_fips"].astype(str).str.zfill(6).str.slice(start=2, stop=4), df["county_fips"].astype(str).str.zfill(6).str.slice(start=0, stop=2)

In [9]:
print(df["county_fips"].astype(str).str.zfill(6), df["county_fips"].astype(str).str.zfill(6).str.slice(start=2, stop=6))

0       006037
1       017031
2       048201
3       004013
4       006073
         ...
3139    031009
3140    048269
3141    048301
3142    048261
3143    015005
Name: county_fips, Length: 3144, dtype: object 0       6037
1       7031
2       8201
3       4013
4       6073
        ...
3139    1009
3140    8269
3141    8301
3142    8261
3143    5005
Name: county_fips, Length: 3144, dtype: object

In [16]:
df["state_fips"] = df["county_fips"].astype(str).str.zfill(5).str.slice(start=0, stop=2)

In [17]:
df["county_only_fips"] =  df["county_fips"].astype(str).str.zfill(5).str.slice(start=2, stop=5)

In [18]:
df["county_fips"] = df["county_fips"].astype(str).str.zfill(5)

In [19]:
df

,county,county_ascii,county_full,county_fips,state_id,state_name,lat,lng,population,state_fips,county_only_fips
0,Los Angeles,Los Angeles,Los Angeles County,06037,CA,California,34.3219,-118.2247,9848406,06,037
1,Cook,Cook,Cook County,17031,IL,Illinois,41.8401,-87.8168,5185812,17,031
2,Harris,Harris,Harris County,48201,TX,Texas,29.8578,-95.3938,4758579,48,201
3,Maricopa,Maricopa,Maricopa County,04013,AZ,Arizona,33.3490,-112.4915,4491987,04,013
4,San Diego,San Diego,San Diego County,06073,CA,California,33.0343,-116.7350,3282782,06,073
...,...,...,...,...,...,...,...,...,...,...,...
3139,Blaine,Blaine,Blaine County,31009,NE,Nebraska,41.9128,-99.9767,385,31,009
3140,King,King,King County,48269,TX,Texas,33.6165,-100.2558,189,48,269
3141,Loving,Loving,Loving County,48301,TX,Texas,31.8493,-103.5800,54,48,301
3142,Kenedy,Kenedy,Kenedy County,48261,TX,Texas,26.9285,-97.7017,52,48,261
3143,Kalawao,Kalawao,Kalawao County,15005,HI,Hawaii,21.1709,-156.9475,43,15,005

In [22]:
df.to_csv("/Users/michaelwalker/RDM_Datalab/simplemaps_uscounties_basicv1.91/uscounties_derived.csv", index=False, header=None)